<div class="container launches">  
  <div class="launch-image">
    <img src="https://image.ibb.co/kUagtU/rocket_contact.png"/>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-launches-list></app-launches-list>
    </div>
  
    <div class="col-md-8">
      <app-mission-detail></app-mission-detail>
    </div>
  </div>
</div>